<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperNote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E73A50DE1C3ECB230036BFFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73A50F21C3ECB230036BFFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73A50FD1C3ECB230036BFFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
